* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', 'Open Sans', Helvetica, sans-serif;
}

.container {

    nav {

        display: flex;
        justify-content: flex-end;
        padding: 20px;
        background-color: #3B77D4;

        .searchbox {

            display: flex;
            flex-direction: row;
            width: 33%;

            .searchbox_searchbar {
                width: 100%;
                height: 40px;
                border-radius: 40px;
                border: none;
                padding: 0px 20px;
                font-size: 16px;
                background-color: #fff;
            }

            .searchbox_searchResults {
                position: absolute;
                right: 20px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                padding: 10px 10px 10px 10px;
                box-shadow: rgba(0, 0, 0, 0.13) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.13) 0px 0.3px 0.9px 0px;
                background-color: #fff;


                //Override shimmer bottom margin of 20px
                div {
                    .shimmer {
                        margin-bottom: 0px;
                    }
                }
            }

            .searchbox_searchResultsMinimumWidth {
                width: 50%;
            }

            .searchbox_searchResults::before {
                content: "";
                position: absolute;
                top: -20px;
                left: 75%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
                rotate: 180deg;
            }



        }
    }




}