<div accept-charset="UTF-8" class="searchBox searchBox--navbar" data-reactid=".25wrvo54bny.1.0.3">
    <form autocomplete="off" action="/search" class="searchBox__form" role="search"
        aria-label="Search for books to add to your shelves" data-reactid=".25wrvo54bny.1.0.3.0"><input
            class="searchBox__input searchBox__input--navbar" autocomplete="off" name="q" type="text"
            placeholder="Search books" aria-label="Search books" aria-controls="searchResults"
            data-reactid=".25wrvo54bny.1.0.3.0.0"><input type="hidden" name="qid" value="eFnhwFRiYy"
            data-reactid=".25wrvo54bny.1.0.3.0.1"><button type="submit"
            class="searchBox__icon--magnifyingGlass gr-iconButton searchBox__icon searchBox__icon--navbar"
            aria-label="Search" data-reactid=".25wrvo54bny.1.0.3.0.2"></button>
        <div class="gr-bookSearchResults gr-bookSearchResults--navbar gr-box gr-box--withShadow"
            id="bookSearchResultsPeter5" aria-live="polite" aria-label="Book search results"
            data-reactid=".25wrvo54bny.1.0.3.0.3">
            <div data-reactid=".25wrvo54bny.1.0.3.0.3.0">
                <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268"><a
                        class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                        href="#" aria-label="Search result" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0"><img
                            class="gr-mediaFlexbox__media"
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1337714526i/34268._SX50_.jpg"
                            alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.0">
                        <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1">
                            <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.0">Peter Pan</div>
                            <div class="gr-book__author gr-book__author--navbar"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1"><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1.0">by </span><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1.1">J.M.
                                    Barrie</span><noscript
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1.2"></noscript></div>
                        </div>
                    </a></div>
                <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321"><a
                        class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                        href="#" aria-label="Search result" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0"><img
                            class="gr-mediaFlexbox__media"
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1485118382i/19321._SX50_.jpg"
                            alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.0">
                        <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1">
                            <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.0">The Tale of Peter Rabbit</div>
                            <div class="gr-book__author gr-book__author--navbar"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1"><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1.0">by </span><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1.1">Beatrix
                                    Potter</span><noscript
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1.2"></noscript></div>
                        </div>
                    </a></div>
                <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143"><a
                        class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                        href="#" aria-label="Search result" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0"><img
                            class="gr-mediaFlexbox__media"
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630663027i/18050143._SY75_.jpg"
                            alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.0">
                        <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1">
                            <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.0">Zero to One: Notes on
                                Startups, or How to Build the Future</div>
                            <div class="gr-book__author gr-book__author--navbar"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1"><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1.0">by </span><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1.1">Peter
                                    Thiel</span><noscript
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1.2"></noscript></div>
                        </div>
                    </a></div>
                <div class="gr-bookSearchResults__item gr-bookSearchResults__item--active"
                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258"><a
                        class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                        href="#" aria-label="Search result" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0"><img
                            class="gr-mediaFlexbox__media"
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347624377i/310258._SX50_.jpg"
                            alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.0">
                        <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1">
                            <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.0">The Snowy Day (Peter, #1)
                            </div>
                            <div class="gr-book__author gr-book__author--navbar"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1"><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1.0">by </span><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1.1">Ezra Jack
                                    Keats</span><noscript
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1.2"></noscript></div>
                        </div>
                    </a></div>
                <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613"><a
                        class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                        href="#" aria-label="Search result" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0"><img
                            class="gr-mediaFlexbox__media"
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1424037542i/7613._SY75_.jpg"
                            alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.0">
                        <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1">
                            <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.0">Animal Farm</div>
                            <div class="gr-book__author gr-book__author--navbar"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1"><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1.0">by </span><span
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1.1">George
                                    Orwell</span><noscript
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1.2"></noscript></div>
                        </div>
                    </a></div><button
                    class="gr-buttonAsLink gr-bookSearchResults__lastItem gr-bookSearchResults--navbar__lastItem"
                    type="submit" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:1">See all results for "Peter"</button>
            </div>
        </div>
    </form>
</div>