* {
    margin: 0px;
    padding: 0px;
}

.container {

    nav {

        display: flex;
        justify-content: flex-end;

        padding: 20px;
        background-color: #3B77D4;

        .searchbox {

            display: flex;
            flex-direction: row;
            width: 33%;

            .searchbox_searchbar {
                width: 100%;
                height: 40px;
                border-radius: 20px;
                border: none;
                padding: 0px 20px;
                font-size: 16px;
                background-color: #fff;
            }

            .searchbox_searchResults {
                position: absolute;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 10px 10px 10px;

                background-color: lightblue;

                .searchbar_Result {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    background-color: lightpink;
                    // border: 1px solid blue;
                    // width: 100%;
                    // position: absolute;

                    // height: 616px;

                    .searchbarResult_Image {
                        // width: 20%;

                        img {
                            width: 50px;
                            height: 63px;
                        }
                    }

                    .searchbarResult_Content {
                        // width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding: 8px;

                        .searchbarResult_Title {
                            pointer-events: auto;
                            color: #333333;
                            font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: bold;
                            word-wrap: break-word;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            box-sizing: inherit;
                        }

                        .searchbarResult_Author {
                            line-height: 18px;
                            pointer-events: auto;
                            overflow-wrap: break-word;
                            margin-top: 4px;
                            color: #333333;
                            font-family: "Merriweather", "Georgia", serif;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 12px;
                            box-sizing: inherit;
                        }
                    }

                }
            }


        }
    }




}