* {
    margin: 0px;
    padding: 0px;
}

$color: red;

.container {

    display: flex;
    flex-direction: column;
    gap: 30px;

    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: $color;

        input {
            width: 200px;
        }
    }

    .callout {
        position: absolute;
        background-color: yellow;
        width: 300;
        // height: 150px;
        right: 0px;
    }
}