* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {

    nav {

        display: flex;
        justify-content: flex-end;
        z-index: 0;

        padding: 20px;
        background-color: #3B77D4;

        .searchbox {

            display: flex;
            flex-direction: row;
            width: 40%;

            .searchbox_searchbar {
                width: 100%;
                height: 40px;
                border-radius: 20px;
                border: none;
                padding: 0px 20px;
                font-size: 16px;
                background-color: #fff;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .searchbox_searchResults {
                position: absolute;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
                right: 20px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                // gap: 10px;
                // padding: 10px 10px 10px 10px;
                background-color: white;
                z-index: 40;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            }


        }
    }




}