<div class="siteHeader__contents" data-reactid=".25wrvo54bny.1.0">
    <div class="siteHeader__topLevelItem siteHeader__topLevelItem--searchIcon" data-reactid=".25wrvo54bny.1.0.0"><button
            class="siteHeader__searchIcon gr-iconButton" aria-label="Toggle search" type="button" data-ux-click="true"
            data-reactid=".25wrvo54bny.1.0.0.0"></button></div><a href="/" class="siteHeader__logo"
        aria-label="Goodreads Home" title="Goodreads Home" data-reactid=".25wrvo54bny.1.0.1"></a>
    <nav class="siteHeader__primaryNavInline" data-reactid=".25wrvo54bny.1.0.2">
        <ul role="menu" class="siteHeader__menuList" data-reactid=".25wrvo54bny.1.0.2.0">
            <li class="siteHeader__topLevelItem siteHeader__topLevelItem--home" data-reactid=".25wrvo54bny.1.0.2.0.0"><a
                    href="/?ref=nav_home" class="siteHeader__topLevelLink"
                    data-reactid=".25wrvo54bny.1.0.2.0.0.0">Home</a></li>
            <li class="siteHeader__topLevelItem" data-reactid=".25wrvo54bny.1.0.2.0.1"><a
                    href="/review/list?ref=nav_mybooks" class="siteHeader__topLevelLink"
                    data-reactid=".25wrvo54bny.1.0.2.0.1.0">My Books</a></li>
            <li class="siteHeader__topLevelItem" data-reactid=".25wrvo54bny.1.0.2.0.2">
                <div class="primaryNavMenu primaryNavMenu--siteHeaderBrowseMenu ignore-react-onclickoutside"
                    data-reactid=".25wrvo54bny.1.0.2.0.2.0"><a
                        class="primaryNavMenu__trigger primaryNavMenu__trigger--siteHeaderBrowseMenu"
                        href="/book?ref=nav_brws" role="button" aria-haspopup="true" aria-expanded="false"
                        data-ux-click="true" data-reactid=".25wrvo54bny.1.0.2.0.2.0.0"><span
                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.0.0">Browse ▾</span></a>
                    <div class="primaryNavMenu__menu gr-box gr-box--withShadowLarge wide" role="menu"
                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1">
                        <div class="siteHeader__browseMenuDropdown" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0">
                            <ul class="siteHeader__subNav" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0">
                                <li role="menuitem Recommendations" class="menuLink" aria-label="Recommendations"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.0"><a
                                        href="/recommendations?ref=nav_brws_recs" class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.0.0">Recommendations</a></li>
                                <li role="menuitem Choice Awards" class="menuLink" aria-label="Choice Awards"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.1"><a
                                        href="/choiceawards?ref=nav_brws_gca" class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.1.0">Choice Awards</a></li>
                                <li role="menuitem Genres" class="menuLink" aria-label="Genres"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.2"><a
                                        href="/genres?ref=nav_brws_genres"
                                        class="siteHeader__subNavLink siteHeader__subNavLink--genresIndex"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.2.0">Genres</a></li>
                                <li role="menuitem Giveaways" class="menuLink" aria-label="Giveaways"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.3"><a
                                        href="/giveaway?ref=nav_brws_giveaways" class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.3.0">Giveaways</a></li>
                                <li role="menuitem New Releases" class="menuLink" aria-label="New Releases"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.4"><a
                                        href="/book/popular_by_date/2022/9?ref=nav_brws_newrels"
                                        class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.4.0">New Releases</a></li>
                                <li role="menuitem Lists" class="menuLink" aria-label="Lists"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.5"><a href="/list?ref=nav_brws_lists"
                                        class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.5.0">Lists</a></li>
                                <li role="menuitem Explore" class="menuLink" aria-label="Explore"
                                    data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.6"><a href="/book?ref=nav_brws_explore"
                                        class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.6.0">Explore</a></li>
                                <li role="menuitem News &amp; Interviews" class="menuLink"
                                    aria-label="News &amp; Interviews" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.7">
                                    <a href="/news?ref=nav_brws_news" class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.0.7.0">News &amp; Interviews</a>
                                </li>
                            </ul>
                            <div class="siteHeader__spotlight siteHeader__spotlight--withoutSubMenu"
                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1">
                                <div class="genreListContainer" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0">
                                    <div class="siteHeader__heading siteHeader__title"
                                        data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.0">Genres</div>
                                    <ul class="genreList" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0">
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Art"><a
                                                href="/genres/art"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Art.0">Art</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Biography">
                                            <a href="/genres/biography"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Biography.0">Biography</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Business"><a
                                                href="/genres/business"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Business.0">Business</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Children's">
                                            <a href="/genres/children-s"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Children's.0">Children's</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Christian">
                                            <a href="/genres/christian"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Christian.0">Christian</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Classics"><a
                                                href="/genres/classics"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Classics.0">Classics</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Comics"><a
                                                href="/genres/comics"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Comics.0">Comics</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Cookbooks">
                                            <a href="/genres/cookbooks"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Cookbooks.0">Cookbooks</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Ebooks"><a
                                                href="/genres/ebooks"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Ebooks.0">Ebooks</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Fantasy"><a
                                                href="/genres/fantasy"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList0.0:$Fantasy.0">Fantasy</a>
                                        </li>
                                    </ul>
                                    <ul class="genreList" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1">
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Fiction"><a
                                                href="/genres/fiction"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Fiction.0">Fiction</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Graphic Novels">
                                            <a href="/genres/graphic-novels"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Graphic Novels.0">Graphic
                                                Novels</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Historical Fiction">
                                            <a href="/genres/historical-fiction"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Historical Fiction.0">Historical
                                                Fiction</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$History"><a
                                                href="/genres/history"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$History.0">History</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Horror"><a
                                                href="/genres/horror"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Horror.0">Horror</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Memoir"><a
                                                href="/genres/memoir"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Memoir.0">Memoir</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Music"><a
                                                href="/genres/music"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Music.0">Music</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Mystery"><a
                                                href="/genres/mystery"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Mystery.0">Mystery</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Nonfiction">
                                            <a href="/genres/non-fiction"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Nonfiction.0">Nonfiction</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Poetry"><a
                                                href="/genres/poetry"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList1.0:$Poetry.0">Poetry</a>
                                        </li>
                                    </ul>
                                    <ul class="genreList" data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2">
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Psychology">
                                            <a href="/genres/psychology"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Psychology.0">Psychology</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Romance"><a
                                                href="/genres/romance"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Romance.0">Romance</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Science"><a
                                                href="/genres/science"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Science.0">Science</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Science Fiction">
                                            <a href="/genres/science-fiction"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Science Fiction.0">Science
                                                Fiction</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Self Help">
                                            <a href="/genres/self-help"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Self Help.0">Self
                                                Help</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Sports"><a
                                                href="/genres/sports"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Sports.0">Sports</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Thriller"><a
                                                href="/genres/thriller"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Thriller.0">Thriller</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Travel"><a
                                                href="/genres/travel"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Travel.0">Travel</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Young Adult">
                                            <a href="/genres/young-adult"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.0:$Young Adult.0">Young
                                                Adult</a>
                                        </li>
                                        <li role="menuitem" class="genreList__genre"
                                            data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.1"><a
                                                href="/genres"
                                                class="genreList__genreLink gr-hyperlink gr-hyperlink--naked"
                                                data-reactid=".25wrvo54bny.1.0.2.0.2.0.1.0.1.0.1:$genreList2.1.0">More
                                                Genres</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="siteHeader__topLevelItem siteHeader__topLevelItem--community"
                data-reactid=".25wrvo54bny.1.0.2.0.3">
                <div class="primaryNavMenu ignore-react-onclickoutside" data-reactid=".25wrvo54bny.1.0.2.0.3.0"><a
                        class="primaryNavMenu__trigger" href="/group?ref=nav_comm" role="button" aria-haspopup="true"
                        aria-expanded="false" data-ux-click="true" data-reactid=".25wrvo54bny.1.0.2.0.3.0.0"><span
                            data-reactid=".25wrvo54bny.1.0.2.0.3.0.0.0">Community ▾</span></a>
                    <div class="primaryNavMenu__menu gr-box gr-box--withShadowLarge" role="menu"
                        data-reactid=".25wrvo54bny.1.0.2.0.3.0.1">
                        <ul class="siteHeader__subNav" data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0">
                            <li role="menuitem Groups" class="menuLink" aria-label="Groups"
                                data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0.0"><a href="/group?ref=nav_comm_groups"
                                    class="siteHeader__subNavLink"
                                    data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0.0.0">Groups</a></li>
                            <li role="menuitem Quotes" class="menuLink" aria-label="Quotes"
                                data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0.2"><a href="/quotes?ref=nav_comm_quotes"
                                    class="siteHeader__subNavLink"
                                    data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0.2.0">Quotes</a></li>
                            <li role="menuitem Ask the Author" class="menuLink" aria-label="Ask the Author"
                                data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0.3"><a
                                    href="/ask_the_author?ref=nav_comm_askauthor" class="siteHeader__subNavLink"
                                    data-reactid=".25wrvo54bny.1.0.2.0.3.0.1.0.3.0">Ask the Author</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div accept-charset="UTF-8" class="searchBox searchBox--navbar" data-reactid=".25wrvo54bny.1.0.3">
        <form autocomplete="off" action="/search" class="searchBox__form" role="search"
            aria-label="Search for books to add to your shelves" data-reactid=".25wrvo54bny.1.0.3.0"><input
                class="searchBox__input searchBox__input--navbar" autocomplete="off" name="q" type="text"
                placeholder="Search books" aria-label="Search books" aria-controls="searchResults"
                data-reactid=".25wrvo54bny.1.0.3.0.0"><input type="hidden" name="qid" value="gxEkBWWuTR"
                data-reactid=".25wrvo54bny.1.0.3.0.1"><button type="submit"
                class="searchBox__icon--magnifyingGlass gr-iconButton searchBox__icon searchBox__icon--navbar"
                aria-label="Search" data-reactid=".25wrvo54bny.1.0.3.0.2"></button>
            <div class="gr-bookSearchResults gr-bookSearchResults--navbar gr-box gr-box--withShadow"
                id="bookSearchResultsPeter5" aria-live="polite" aria-label="Book search results"
                data-reactid=".25wrvo54bny.1.0.3.0.3">
                <div data-reactid=".25wrvo54bny.1.0.3.0.3.0">
                    <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268"><a
                            class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                            href="#" aria-label="Search result"
                            data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0"><img class="gr-mediaFlexbox__media"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1337714526i/34268._SX50_.jpg"
                                alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.0">
                            <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1">
                                <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.0">Peter Pan</div>
                                <div class="gr-book__author gr-book__author--navbar"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1"><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1.0">by </span><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1.1">J.M.
                                        Barrie</span><noscript
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$34268.0.1.1.2"></noscript></div>
                            </div>
                        </a></div>
                    <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321"><a
                            class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                            href="#" aria-label="Search result"
                            data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0"><img class="gr-mediaFlexbox__media"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1485118382i/19321._SX50_.jpg"
                                alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.0">
                            <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1">
                                <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.0">The Tale of Peter Rabbit
                                </div>
                                <div class="gr-book__author gr-book__author--navbar"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1"><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1.0">by </span><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1.1">Beatrix
                                        Potter</span><noscript
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$19321.0.1.1.2"></noscript></div>
                            </div>
                        </a></div>
                    <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143"><a
                            class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                            href="#" aria-label="Search result"
                            data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0"><img class="gr-mediaFlexbox__media"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630663027i/18050143._SY75_.jpg"
                                alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.0">
                            <div class="gr-mediaFlexbox__desc"
                                data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1">
                                <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.0">Zero to One: Notes on
                                    Startups, or How to Build the Future</div>
                                <div class="gr-book__author gr-book__author--navbar"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1"><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1.0">by </span><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1.1">Peter
                                        Thiel</span><noscript
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$18050143.0.1.1.2"></noscript></div>
                            </div>
                        </a></div>
                    <div class="gr-bookSearchResults__item" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613"><a
                            class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                            href="#" aria-label="Search result" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0"><img
                                class="gr-mediaFlexbox__media"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1424037542i/7613._SY75_.jpg"
                                alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.0">
                            <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1">
                                <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.0">Animal Farm</div>
                                <div class="gr-book__author gr-book__author--navbar"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1"><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1.0">by </span><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1.1">George
                                        Orwell</span><noscript
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$7613.0.1.1.2"></noscript></div>
                            </div>
                        </a></div>
                    <div class="gr-bookSearchResults__item gr-bookSearchResults__item--active"
                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258"><a
                            class="gr-mediaFlexbox gr-book--navbar gr-hyperlink gr-hyperlink--naked gr-hyperlink--noUnderline gr-bookSearchResults__result"
                            href="#" aria-label="Search result"
                            data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0"><img class="gr-mediaFlexbox__media"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347624377i/310258._SX50_.jpg"
                                alt="" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.0">
                            <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1">
                                <div class="gr-book__title gr-book__title--navbar u-defaultType"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.0">The Snowy Day (Peter, #1)
                                </div>
                                <div class="gr-book__author gr-book__author--navbar"
                                    data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1"><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1.0">by </span><span
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1.1">Ezra Jack
                                        Keats</span><noscript
                                        data-reactid=".25wrvo54bny.1.0.3.0.3.0.0:0:$310258.0.1.1.2"></noscript></div>
                            </div>
                        </a></div>

                </div>
            </div>
        </form>
    </div>
    <ul class="siteHeader__personal" data-reactid=".25wrvo54bny.1.0.4">
        <li class="siteHeader__topLevelItem siteHeader__topLevelItem--signedOut" data-reactid=".25wrvo54bny.1.0.4.0"><a
                href="/user/sign_in?returnurl=%2Fgenres%2Fbusiness" rel="nofollow" class="siteHeader__topLevelLink"
                data-reactid=".25wrvo54bny.1.0.4.0.0">Sign In</a></li>
        <li class="siteHeader__topLevelItem siteHeader__topLevelItem--signedOut" data-reactid=".25wrvo54bny.1.0.4.1"><a
                href="/user/sign_up" rel="nofollow" class="siteHeader__topLevelLink"
                data-reactid=".25wrvo54bny.1.0.4.1.0">Join</a></li>
    </ul>
    <div class="siteHeader__topLevelItem siteHeader__topLevelItem--signUp" data-reactid=".25wrvo54bny.1.0.5"><a
            href="/user/sign_up" class="gr-button gr-button--dark" rel="nofollow"
            data-reactid=".25wrvo54bny.1.0.5.0">Sign up</a></div>
    <div class="modal modal--overlay modal--drawer" tabindex="0" data-reactid=".25wrvo54bny.1.0.7">
        <div data-reactid=".25wrvo54bny.1.0.7.0">
            <div class="modal__close" data-reactid=".25wrvo54bny.1.0.7.0.0"><button type="button" class="gr-iconButton"
                    data-reactid=".25wrvo54bny.1.0.7.0.0.0"><img alt="Dismiss"
                        src="//s.gr-assets.com/assets/gr/icons/icon_close_white-dbf4152deeef5bd3915d5d12210bf05f.svg"
                        data-reactid=".25wrvo54bny.1.0.7.0.0.0.0"></button></div>
            <div class="modal__content" data-reactid=".25wrvo54bny.1.0.7.0.1">
                <div class="personalNavDrawer" data-reactid=".25wrvo54bny.1.0.7.0.1.0">
                    <div class="personalNavDrawer__personalNavContainer" data-reactid=".25wrvo54bny.1.0.7.0.1.0.0">
                        <noscript data-reactid=".25wrvo54bny.1.0.7.0.1.0.0.0"></noscript>
                    </div>
                    <div class="personalNavDrawer__profileAndLinksContainer" data-reactid=".25wrvo54bny.1.0.7.0.1.0.1">
                        <div class="personalNavDrawer__profileContainer gr-mediaFlexbox gr-mediaFlexbox--alignItemsCenter"
                            data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0">
                            <div class="gr-mediaFlexbox__media" data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0.0"><img
                                    class="circularIcon circularIcon--large circularIcon--border"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0.0.0"></div>
                            <div class="gr-mediaFlexbox__desc" data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0.1"><a
                                    class="gr-hyperlink gr-hyperlink--bold"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0.1.0"></a>
                                <div class="u-displayBlock" data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0.1.1"><a
                                        class="gr-hyperlink gr-hyperlink--naked"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.0.1.1.0">View profile</a></div>
                            </div>
                        </div>
                        <div class="personalNavDrawer__profileMenuContainer"
                            data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1">
                            <ul data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0">
                                <li role="menuitem Profile" class="menuLink" aria-label="Profile"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.0"><span
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.0.0"><a
                                            class="siteHeader__subNavLink"
                                            data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.0.0.0">Profile</a></span></li>
                                <li role="menuitem Friends" class="menuLink" aria-label="Friends"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.3"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.3.0">Friends</a></li>
                                <li role="menuitem Groups" class="menuLink" aria-label="Groups"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.4"><span
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.4.0"><a
                                            class="siteHeader__subNavLink"
                                            data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.4.0.0"><span
                                                data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.4.0.0.0">Groups</span></a></span>
                                </li>
                                <li role="menuitem Discussions" class="menuLink" aria-label="Discussions"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.5"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.5.0">Discussions</a></li>
                                <li role="menuitem Comments" class="menuLink" aria-label="Comments"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.6"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.6.0">Comments</a></li>
                                <li role="menuitem Reading Challenge" class="menuLink" aria-label="Reading Challenge"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.7"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.7.0">Reading Challenge</a></li>
                                <li role="menuitem Kindle Notes &amp; Highlights" class="menuLink"
                                    aria-label="Kindle Notes &amp; Highlights"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.8"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.8.0">Kindle Notes &amp;
                                        Highlights</a></li>
                                <li role="menuitem Quotes" class="menuLink" aria-label="Quotes"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.9"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.9.0">Quotes</a></li>
                                <li role="menuitem Favorite genres" class="menuLink" aria-label="Favorite genres"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.a"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.a.0">Favorite genres</a></li>
                                <li role="menuitem Friends' recommendations" class="menuLink"
                                    aria-label="Friends' recommendations"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.b"><span
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.b.0"><a
                                            class="siteHeader__subNavLink"
                                            data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.b.0.0"><span
                                                data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.b.0.0.0">Friends’
                                                recommendations</span></a></span></li>
                                <li role="menuitem Account settings" class="menuLink" aria-label="Account settings"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.c"><a
                                        class="siteHeader__subNavLink u-topGrayBorder"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.c.0">Account settings</a></li>
                                <li role="menuitem Help" class="menuLink" aria-label="Help"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.d"><a class="siteHeader__subNavLink"
                                        data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.d.0">Help</a></li>
                                <li role="menuitem Sign out" class="menuLink" aria-label="Sign out"
                                    data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.e"><a class="siteHeader__subNavLink"
                                        data-method="POST" data-reactid=".25wrvo54bny.1.0.7.0.1.0.1.1.0.e.0">Sign
                                        out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>