* {
    margin: 0px;
    padding: 0px;
}


.searchbar_Result {

    a {
        display: flex;
        flex-direction: row;
        gap: 5px;
        background-color: #fff;
        align-items: center;
        text-decoration: none;
        border-bottom: 1px solid silver;
        padding: 10px 0px;
        font-family: 'Segoe UI', 'Open Sans', Helvetica, sans-serif;

        .searchbarResult_Image {
            display: grid;

            img {
                height: 60px;
                aspect-ratio: 0.6;
            }
        }

        .searchbarResult_Content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-right: 20px;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .searchbarResult_Title {
                pointer-events: auto;
                color: #333333;
                font-size: 14px;
                line-height: 18px;
                font-weight: bold;
                word-wrap: break-word;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: inherit;
            }

            .searchbarResult_Author {
                line-height: 18px;
                pointer-events: auto;
                overflow-wrap: break-word;
                margin-top: 4px;
                color: #333333;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                box-sizing: inherit;
            }
        }
    }

}