.searchCard {

    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(232, 119, 119);

    .searchCard-Image {
        width: 50px;

        img {
            width: 50px;
            height: 63px;
        }
    }

    .searchCard-Content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 8px;

        .searchCard-Content__Title {
            pointer-events: auto;
            color: #333333;
            font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
            font-size: 14px;
            line-height: 18px;
            font-weight: bold;
            word-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: inherit;
        }

        .searchCard-Content__Author {
            line-height: 18px;
            pointer-events: auto;
            overflow-wrap: break-word;
            margin-top: 4px;
            color: #333333;
            font-family: "Merriweather", "Georgia", serif;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            box-sizing: inherit;
        }
    }



}